<!DOCTYPE html>
<html>
    
    <head>


        <meta charset="UTF-8">
        <title>CO2 EMMISION PREDICTION</title>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet'>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
        
    </head>
    <body>
        <body background="co2.jpg">
        <div class="login">
            <h1>CO2 EMMISION PREDICTOR</h1>
            
            <form action="{{url_for('predict')}}"method="post">
                <input type="text" name="Month" placeholder="Enter Month:" required="required"><br><br>
                <input type="text" name="Year" placeholder="Enter Year:" required="required"><br><br>
                <button type="submit" class="btn btn-primary btn-block btn-large">Prediction</button>
                
            </form>
            <br>
            <br>
            {{prediction_text}}
        </div>
    </body>
</html>