body{
    background-image: url('./image/co2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    text-align: center;
    padding-top: 100px;
  }